{% extends 'base.html.twig' %}

{% block body %}
div class="panel panel-default">
  <div class="panel-heading"><h4>Custaddress</h4></div>
   <div class="panel-body">
     <a href="{{ path('custaddress_index') }}" class="btn btn-default" style="margin-bottom:15px">Back to the list</a>
     
    <table class="table">
        <tbody>
            <tr>
                <th>Customer Name</th>
                <td>{{ custaddress.customercode.customercode }}</td>
            </tr>
            
            <tr>
                <th>Address Number</th>
                <td>{{ custaddress.addressnumber.addressnumber }}</td>
            </tr>

        </tbody>
    </table>

   
            
      
           
       
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
          </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>  
{% endblock %}
