{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Addresses list</h4></div>
   <div class="panel-body">
    
    <a href="{{ path('address_new') }}" class = "btn btn-primary" style="margin-bottom:15px">Create a new address</a>
    <table class="table">
        <thead>
            <tr>
                <th>Contact</th>
                <th>Email Address</th>
                <th>Detail</th>
                <th>Type</th>
                <th>Addressnumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td><a href="{{ path('address_show', { 'addressnumber': address.addressnumber }) }}" >{{ address.contact }}</a></td>
                <td>{{ address.email }}</td>
                <td>{{ address.detail }}</td>
                <td>{{ address.type }}</td>
                <td>{{ address.addressnumber }}</td>
                <td>

                            <a href="{{ path('address_show', { 'addressnumber': address.addressnumber }) }}" class = "btn btn-success">show</a>
                       
                            <a href="{{ path('address_edit', { 'addressnumber': address.addressnumber }) }}" class = "btn btn-primary">edit</a>
                 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

         </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>
           

{% endblock %}
