{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Address</h4></div>
   <div class="panel-body">
    <a href="{{ path('address_index') }}" class = "btn btn-default" style="margin-bottom:15px">Back to the list</a>
   

    <table class="table">
        <tbody>
            <tr>
                <th>Contact</th>
                <td>{{ address.contact }}</td>
            </tr>
            <tr>
                <th>Email Address</th>
                <td>{{ address.email }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ address.detail }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ address.type }}</td>
            </tr>
            <tr>
                <th>Address Number</th>
                <td>{{ address.addressnumber }}</td>
            </tr>
        </tbody>
    </table>

   
           
       
            <a href="{{ path('address_edit', { 'addressnumber': address.addressnumber }) }}" class = "btn btn-primary">Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class = "btn btn-danger">
            {{ form_end(delete_form) }}
      </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>
{% endblock %}
