{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Purchaseorders list</h4></div>
   <div class="panel-body">
    
    <a href="{{ path('purchase_newOrder') }}" class="btn btn-primary">Create a new purchaseorder</a>
    <a href="{{ path('purchase_maintenance') }}" class="btn btn-primary">Purchaseorder Maintenance</a>
    <form action="{{ path('purchaseorder_index')}}" method="get">
    <table class="table">
        <thead>
                <tr>
                <th>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="pofilter_filter" placeholder="Supplier Code">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

             
            </tr>
            <tr>
                <th>PO Number</th>
                <th>Supplier code</th>
                <th>Supplier Name</th>
                <th>Date Required</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchaseorder in purchaseorders %}
            <tr>
                <td><a href="{{ path('purchaseorder_show', { 'ponumber': purchaseorder.ponumber }) }}">{{ purchaseorder.ponumber }}</a></td>
                <td>{{ purchaseorder.suppliercode }}</td>
                <td>{{ purchaseorder.suppliercode.suppliername }}</td>
                <td>{{ purchaseorder.daterequired|date("m/d/y") }}</td>
                
                <td>
                   
                            <a href="{{ path('purchaseorder_show', { 'ponumber': purchaseorder.ponumber }) }}" class="btn btn-success">show</a>
                       
                            <a href="{{ path('purchaseorder_edit', { 'ponumber': purchaseorder.ponumber }) }}" class="btn btn-primary">edit</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
  <div class="navigation text-center">     
    {{ knp_pagination_render(purchaseorders) }}
</div>
</div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>     
{% endblock %}
