{% extends 'base.html.twig' %}
{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Maintanence</h4></div>
   <div class="panel-body">
    <div class="row" style="margin-top:15px">
 <form action="{{ path('purchase_maintenance') }}" method="get">
  <a href="{{ path('purchase_newOrder') }}" class="btn btn-primary">New Purchase Order</a>


                           
                                <a class="btn btn-default" href="{{ path('material_maintanence') }}"><span class="glyphicon glyphicon-search"></span> Materialcode</a>
                            
                           
                                <a class="btn btn-default" href="{{ path('polines_maintanence')}}"><span class="glyphicon glyphicon-search"></span> Ponumber</a>
                           
                        
 
  <div class="col-sm-3">
      <div class="input-group">
         <input type="text" class="form-control" name="supplier_filter" placeholder="Supplier Code">
         <span class="input-group-btn">
             <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span></button>
         </span>
     </div><!-- /input-group -->
  </div><!-- .col-sm-4< -->

                           
                                              
</div> 
 <table class="table">
    
        <thead>
            <tr>
                <th>Suppliercode</th>
                <th>Suppliername</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
       
        {% for supplier in suppliers %}
            <tr>
              <td><a href="{{ path('supplier_show', { 'suppliercode': supplier.suppliercode }) }}">{{ supplier.suppliercode }}</a></td>
              <td>{{ supplier.suppliername }}</td>
                
                <td>
                  
                    <a class="btn btn-primary" href="{{ path('supplier_show', { 'suppliercode': supplier.suppliercode }) }}">PoHeaders</a>
                    
                </td>
            </tr>
        {% endfor %}
      
        </tbody>
        </table>
</form>

   </div>
  </div>
</div>   
{% endblock %}
