{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Purchaseorder</h4></div>
   <div class="panel-body">

    <a href="{{ path('purchaseorder_index') }}" class="btn btn-default" style="margin-bottom:15px">Back to the list</a>
    <a href="{{ path('polines_new') }}" class="btn btn-primary" style="margin-bottom:15px">Create a new poline</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Perchase Order Number</th>
                <td>{{ purchaseorder.ponumber }}</td>
            </tr>
            <tr>
                <th>Supplier Code</th>
                <td>{{ purchaseorder.suppliercode }}</td>
            </tr>
            <tr>
                <th>Supplier Name</th>
                <td>{{ purchaseorder.suppliercode.suppliername }}</td>
            </tr>
            <tr>
                <th>Date Required</th>
                <td>{% if purchaseorder.daterequired %}{{ purchaseorder.daterequired|date('Y-m-d') }}{% endif %}</td>
            </tr>

        </tbody>
    </table>
    
<table class="table">
        <thead>
            <tr>
                <th>Person</th>
                <th>Materialcode</th>
                <th>Mat Description</th>
                <th>Quantity</th>
                <th>Priceunit</th>
                <th>Price</th>
                <th>Stkunitconv</th>
                <th>Status</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poline in polines %}
            <tr>
                <td><a href="{{ path('polines_show', { 'ponumber': poline.ponumber }) }}">{{ poline.person.name }}</a></td>
                <td>{{ poline.materialcode }}</td>
                <td>{{ poline.materialcode.description }}</td>
                <td>{{ poline.quantity }}</td>
                <td>{{ poline.priceunit }}</td>
                <td>{{ poline.price }}</td>
                <td>{{ poline.stkunitconv }}</td>
                {% if poline.status == 'O' %}
                    <td>Ordered</td>
                {% elseif poline.status == 'R' %}
                    <td>Received</td>
                {% elseif poline.status == 'C' %}
                    <td>Complete</td>
                {% elseif poline.status == 'D' %}
                    <td>Deleted</td>   
                {% endif %}
                
                <td>

                            <a href="{{ path('polines_show', { 'ponumber': poline.ponumber }) }}" class="btn btn-danger">Delete</a>

                            <a href="{{ path('polines_edit', { 'ponumber': poline.ponumber }) }}" class="btn btn-primary">Amend</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
            
   
            <a href="{{ path('purchaseorder_edit', { 'ponumber': purchaseorder.ponumber }) }}" class="btn btn-primary">Edit</a>
       
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
            </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>     
{% endblock %}
