{% extends 'base.html.twig' %}

{% block body %}
<style>
	fieldset {
    	margin: 8px;
    	border: 1px solid silver;
    	padding: 8px;    
    	border-radius: 4px;
	}

	legend {
 	   padding: 2px;    
	}
</style>
<div class="panel panel-default">
  <div class="panel-heading"><h4>Poline creation</h4></div>
   <div class="panel-body">

  <a href="{{ path('polines_index') }}" class="btn btn-default" style="margin-bottom:15px" >Back to the list</a>
   
<form name="appbundle_polines" method="post|get">
        <div id="appbundle_polines">

<div>
<label for="appbundle_polines_stkunitconv" class="required">Purchase Order Number</label>
<input type="text" id="appbundle_polines_stkunitconv" name="ponumber" value="{{ poline }}" required="required" class="form-control" style="margin-bottom:15px" placeholder="Enter stock unit conv" disabled/>
</div>

<div>
<label for="appbundle_polines_stkunitconv" class="required">Material</label>
<input type="text" id="appbundle_polines_stkunitconv" name="ponumber" value="{{ material.description }}" required="required" class="form-control" style="margin-bottom:15px" placeholder="Enter stock unit conv" disabled/>
</div>

<div>
<label for="appbundle_polines_price" class="required">Price</label>
<input type="text" id="appbundle_polines_price" name="price" required="required" value="{{ material.averageprice }}"  class="form-control" style="margin-bottom:15px" placeholder="Enter price" />
</div>

<div>
<label for="appbundle_polines_priceunit" class="required">Price unit</label>
<input type="text" id="appbundle_polines_priceunit" name="priceunit" required="required" value="{{ material.priceunit }}"  class="form-control" style="margin-bottom:15px" placeholder="Enter price unit"/>
</div>
<div>
<label for="appbundle_polines_stkunitconv" class="required">Stock unit</label>
<input type="text" id="appbundle_polines_stkunitconv" name="stkunit" value="{{ material.stockunit }}" required="required" class="form-control" style="margin-bottom:15px" placeholder="Enter stock unit conv" disabled/>
</div>
<div>
<label for="appbundle_polines_quantity" class="required">Quantity</label>
<input type="text" id="appbundle_polines_quantity" name="quantity" required="required"  class="form-control" style="margin-bottom:15px" placeholder="Enter quantity" />
</div>


<div>
<label for="appbundle_polines_stkunitconv" class="required">Stock unit conv</label>
<input type="text" id="appbundle_polines_stkunitconv" name="stkunitconv" required="required" class="form-control" style="margin-bottom:15px" placeholder="Enter stock unit conv" />
</div>

<fieldset>
<b>Person<b>
    <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="pcode_filter" placeholder="Person Code">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
    <table class="table">
    <thead>
                <tr>
                 <th>Person Code</th>
                <th>Name</th>               
                <th>Select Person</th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.personcode }}</td>
                <td>{{ person.name }} </td>
           
                
                <td>
                  <input type="radio" name="personcode" value="{{ person.personcode }}" class="radio">
                            
                     
                </td>
            </tr>
        {% endfor %}
      
        </tbody>
 
     </table>
      <div class="text-center">     
    {{ knp_pagination_render(persons) }}
</div>
</fieldset>
    {{ form_start(form) }}
        {{ form_widget(form) }}
      
    {{ form_end(form) }}

<input type="submit" value="Create" class="btn btn-primary"/>
</form>
    </div>
    </div>
 {% include 'footer.html.twig' %}
{% endblock %}
