{% extends 'base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading"><h4>Poline creation</h4></div>
   <div class="panel-body">

  <a href="{{ path('polines_index') }}" class="btn btn-default" style="margin-bottom:15px" >Back to the list</a>
   
<div>
<label for="appbundle_polines_stkunitconv" class="required">Purchase Order Number</label>
<input type="text" id="appbundle_polines_stkunitconv" name="stkunit" value="{{ ponumber }}" required="required" class="form-control" style="margin-bottom:15px" placeholder="Enter stock unit conv" disabled/>
</div>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
    </div>
    </div>
 {% include 'footer.html.twig' %}

   
{% endblock %}


