{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Customers list</h4></div>
   <div class="panel-body">
    
   <a href="{{ path('customer_new') }}" class="btn btn-primary" style="margin-bottom:15px">Create a new customer</a>

   <form action="{{ path('customer_index')}}" method="get">

   <table class="table">
        <thead>
        <tr>
                <th>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="customercode_filter" placeholder="Customer Code">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
                </th>

                <th>
                <div class="row">
                  <div class="col-lg-10">
                     <div class="input-group">
                        <input type="text" class="form-control" name="filter" placeholder="Customer name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                      </div><!-- /input-group -->
                   </div><!-- /.col-lg-6 -->
                 </div><!-- /.row -->
                </th>
                <th></th>
                <th></th>
                <th></th>

             
            </tr>
          
        
            <tr>
                <th>{{ knp_pagination_sortable(customers,'Customer Code','c.customercode')}}</th>
                <th>{{ knp_pagination_sortable(customers,'Name','c.name')}}</th>
                <th>{{ knp_pagination_sortable(customers,'Status','c.status')}}</th>
                <th>Email Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.customercode }}</td>
                <td><a href="{{ path('customer_show', { 'customercode': customer.customercode }) }}">{{ customer.name }}</a></td>
                <td>{{ customer.status }}</td>
                <td>{{ customer.loginemail }}</td>
                <td>
                    <a href="{{ path('customer_show', { 'customercode': customer.customercode }) }}" class="btn btn-success">Show</a>
                    <a href="{{ path('customer_edit', { 'customercode': customer.customercode }) }}" class="btn btn-primary">edit</a>


                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
  <div class="navigation text-center">     
    {{ knp_pagination_render(customers) }}
</div>
      
      </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>

{% endblock %}
