{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('customer_index') }}" class="btn btn-default">Back to the list</a>
    <h1 class="page-header">Customer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ customer.status }}</td>
            </tr>
            <tr>
                <th>Customercode</th>
                <td>{{ customer.customercode }}</td>
            </tr>
            <tr>
            <th>Email Address</th>
                <td>{{ customer.loginemail }}</td>
            </tr>
        </tbody>
    </table>

    
            
  
            <a href="{{ path('customer_edit', { 'customercode': customer.customercode }) }}" class="btn btn-primary">Edit</a>
     
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

{% endblock %}
