{% extends 'base.html.twig' %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Customer Details</h4></div>
   <div class="panel-body">

<a href="{{ path('customer_index') }}" class="btn btn-default" style="margin-bottom:15px" style="margin-bottom:15px">Back to the list</a>
<div>
<a href="{{ path('select_address', { 'customercode': customer.customercode }) }}" class="btn btn-primary">Add Address</a>
<a href="{{ path('address_new') }}" }}" class="btn btn-primary">Create Address</a>
</div>
<hr>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ customer.status }}</td>
            </tr>
            <tr>
                <th>Customercode</th>
                <td>{{ customer.customercode }}</td>
            </tr>
            <tr>
            <th>Email Address</th>
                <td>{{ customer.loginemail }}</td>
            </tr>
        </tbody>
       


        <tbody>
           <tr>
            <th>Addresses</th>
           </tr>
           <tr>
                <th>Type</th>
                <th>Address</th>
               
               
            </tr>
    
        {% for custaddress in custaddresses %}
            <tr>
                <td>{{ custaddress.addressnumber.type }}</td>
                <td>{{ custaddress.addressnumber.detail }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table>
    <tbody>
    <tr>
    <th>
    
    </th>
    </tr>
     <tr>  
       
        <td>
            {{ form_start(delete_form) }}
                <input type="submit" value="Yes" class="btn btn-danger">
            {{ form_end(delete_form) }}
       </td>
       <td>
         <a href="{{ path('customer_index') }}" class="btn btn-primary">No</a>
        </td>
        </tbody>
    </table>
      </div><!-- .Panel Content -->
      </div>
  <div class="panel-footer">Copyright 2017 Prinfor</div>
</div>
{% endblock %}
