{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('customer_index') }}" class="btn btn-default">Back to the list</a>
<h3 class="page-header">You about to Delete this customer</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ customer.status }}</td>
            </tr>
            <tr>
                <th>Customercode</th>
                <td>{{ customer.customercode }}</td>
            </tr>
            <tr>
            <th>Email Address</th>
                <td>{{ customer.loginemail }}</td>
            </tr>
        </tbody>
    </table>

    <table>
    <tbody>
    <tr>
    <th>
    <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong>
      Are you sure you want to delete this customer
    </div>
    </th>
    </tr>
     <tr>  
       
        <td>
            {{ form_start(delete_form) }}
                <input type="submit" value="Yes" class="btn btn-danger">
            {{ form_end(delete_form) }}
       </td>
       <td>
         <a href="{{ path('customer_index') }}" class="btn btn-primary">No</a>
        </td>
        </tbody>
    </table>

{% endblock %}
