{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('supplier_index') }}" class="btn btn-default">Back to the list</a>
    <h1 class="page-header">Supplier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Suppliercode</th>
                <td>{{ supplier.suppliercode }}</td>
            </tr>
            <tr>
                <th>Suppliername</th>
                <td>{{ supplier.suppliername }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>PO Number</th>
                <th>Supplier code</th>
                <th>Supplier Name</th>
                <th>Date Required</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchaseorder in purchaseorders %}
            <tr>
                <td>{{ purchaseorder.ponumber }}</td>
                <td>{{ purchaseorder.suppliercode }}</td>
                <td>{{ purchaseorder.suppliercode.suppliername }}</td>
                <td><a href="{{ path('purchaseorder_show', { 'ponumber': purchaseorder.ponumber }) }}">{{ purchaseorder.daterequired|date("m/d/y") }}</a></td>
                
                <td>
                   
                            <a href="{{ path('purchaseorder_show', { 'ponumber': purchaseorder.ponumber }) }}" class="btn btn-success">show</a>
                       
                            <a href="{{ path('purchaseorder_edit', { 'ponumber': purchaseorder.ponumber }) }}" class="btn btn-primary">edit</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('supplier_edit', { 'suppliercode': supplier.suppliercode }) }}" class="btn btn-primary">Edit</a>
       
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
    
{% endblock %}
